<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-CN" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAAXNSR0IArs4c6QAAAARzQklUCAgI
CHwIZIgAAAPcSURBVEiJrZVvaJVVHMc/5zzP7nafu3u3iUOsaVAKMgtyjDJfBAaOrYUb1YupEyXX
30WwxnzRikpoUmbbcMZ00Jr0Ip1GUPYiMMT5IlZpBMGMjDnayDAmU+/un+eeXy+eZ/fP/lN+4cB5
OH8+v+/vd855AKSurk5KS0vFcRxxHEcqKyulvLxcgLvT2tvbxRgj1dXV0t3dLUopCYfDUlFRIYFA
4K5AlNZaent7CQaDtLW10dHRweDgIGVlZfT19WFhYWqakfWPoywbMYIyBpEU6tsjyG9DLCXl0+bK
KUJtbkA3dpKyAqCU12YkBgTU5Dhy5i0YOvEfIP0JsHRmVOuFQxWD/cXbuF++N+/wvCt115gXtREv
4mwH84aqkE3bUfmhpSEqVITqn8aU3ANagWWBZS8OEYMav4LuaWBfvaLlBWvOFDtn/iMNqJn8L0di
sP7+AzmwhZfq4nx0YBoFuK7iyCeZKqRrkofGHYgiOrA8ABD4/Qfcrnr2P5ugvWWSkGNQCq6M5rNh
azw9L52u5FOtSK6xRRwI1tXvSX68i6Ztk7S3ZgAA69bGWbM6U4l0Tz/wKGqxE5QhYF0fIXWolqat
f9JzMEaowORk2NLQd8ikv9OhG7tgWSb0yEVMVz37G1zebIljW/OXMDvcNGTluo3cWNKEwPDnhMwU
YgsfHAevrLPnwbVxv0NW4fXrZzGbahYBGALDp0n0NACwCsgn9zZn42LA9dlOTGp6UUDe8CCJ3j3Y
LxfjHpsiLMKPChwRtA/KhnwnUOX3M6kb/WUBgGBf+JRk7w6s5hDu9iLUqVVcXaGpFUiI4rTWvIvi
fRRRb0kOMpMupTEDMVAz5gRlBOfiZ9wZ2Iv9/Arc2kJQFmAAFxr/Qt8pILD3Q2KVz6HEoLtqOTp2
mbbpm9xyvURawDveloKdjGEe3ObRRQhf+prbx3ZjvRIh9WSRf4z8CEVhR0F2/kzy/idAacBCNu9m
KBJh6qdv0k5yLkbq0ldgEiBC4EI/Uz312K+FSdWEcwF+DuybT2OKywiNngcEHf8HzrQxtWWf9+75
yn27JkagKYK1o5P4yVexmyO4VYW+4VwpXOJ5a7BSMVKn3kA/VEXw2hBSWk4UTSByL4nJsblOAEgm
SJ1oJvjiStzqknkBXnptgvY4KauAWOt5Cn89iyrdQPSZbgAStyayTS/w07ovD3V4NeLgFzsXgQh5
56Zh8iDJx/agVRIjNijIv3yS+NHGZUB8ObtKiD5sQ3k+aMtbIv5NvuGij8eRjYeR4rWAojAxwe3O
nTmbLglJK+QX3cY7wQZIAonZ933udsuH/A/9C166lREbtYPeAAAAAElFTkSuQmCC">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="https://github.com/ZGQ-inc">ZGQ的Github个人主页</a></h1>

        {% if site.logo %}
          <img src="https://cdn.jsdelivr.net/gh/ZGQ-inc/homepage@master/images/logo.png" alt="Logo" />
        {% endif %}

        <p>目前个人主页访问过慢，此为备用。</p>
        <h3><a href="https://zgq-inc.github.io/homepage/mywords.html"><font color="#FF0000">关于未来计划 这是我想说的话</font></a></font></h3>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
           <a href="https://github.com/ZGQ-inc">ZGQ的Github个人主页</p></a>
        
        <p>&copy;2022 ZGQ Inc. <span>All rights reserved</span>.</p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
